@import "../_fonts.scss";
@import "../_colors.scss";
@import "../_media_query.scss";

.header {
  @include font-apercu-light;
  h1 {
    font-size: 4.5rem;
    background: linear-gradient(to right, #ffec3f, #fff 35%, red);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
  }
}

.greetings {
  font-size: 2.5rem;
  color: $white;
  margin-bottom: 6rem;
  @include mobile-sm {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
  }
}

.content {
  font-size: 2.5rem;
  color: $white;
  line-height: 1.5;
  margin-bottom: 6rem;

  .bold {
    @include font-apercu-medium;
    color: #f1f8cf;
  }
}

.get-in-touch {
  font-size: 1.5rem;
  color: $white;
  line-height: 1.5;

  .email-add {
    color: #f1f8cf;
    text-decoration: underline;
  }

  .social-profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;

    a {
      margin-right: 1rem;
      font-size: 2rem;
      margin-right: 1.5rem;
      color: #f1f8cf;
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.phFlag {
  display: inline-block;
  width: 50px;
  .st0 {
    fill: #fcd116;
  }
  .st1 {
    fill: none;
    stroke: #cccccc;
    stroke-width: 0.4799;
    stroke-miterlimit: 22.9256;
  }
  .st2 {
    fill: #ffffff;
  }
  .st3 {
    fill: #ce1126;
  }
  .st4 {
    fill: #0038a8;
  }
}
