@import "../_fonts.scss";
@import "../_colors.scss";
@import "../_media_query.scss";

.flexi-header {
  position: sticky;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  top: 0;
}

.header {
  @include font-apercu-light;
  h1 {
    font-size: 4.5rem;
    background: linear-gradient(to right, #ffec3f, #fff 35%, red);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
  }
  &-title {
    font-size: 2.5rem;
    color: $white;
    margin-bottom: 0;
  }

  .side-nav {
    @include font-apercu-regular;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 50%;
    margin-top: 1rem;

    div {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      cursor: pointer;

      &:hover {
        span.line {
          width: 4rem;
          background-color: $white;
        }
        span.text {
          color: $white;
        }
      }
    }
    /** active section **/
    div.active > span.line {
      width: 4rem;
      height: 1px;
      background-color: $white;
    }

    div.active > span.text {
      padding-left: 1rem;
      color: $white;
    }
    /** inactive section **/
    div > span.line {
      width: 2rem;
      height: 1px;
      background-color: rgba($white, 0.5);

      &.transition-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
      }
    }

    div > span.text {
      padding-left: 1rem;
      color: rgba($white, 0.5);
      &:hover {
        color: $white;
      }
    }
  }
}

.greetings {
  font-size: 2.5rem;
  color: $white;
  margin-bottom: 6rem;
  @include mobile-sm {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
  }
}

.content {
  font-size: 2.5rem;
  color: $white;
  line-height: 1.5;
  margin-bottom: 6rem;

  &-page {
    @include font-apercu-light;
    font-size: 1rem;
    color: $white;
    max-height: 70vh;
    height: 70vh;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    #how-it-all-started {
      padding-top: 40%;
    }

    #goals {
      padding-top: 55%;
    }

    #experience {
      margin-top: 40%;

      .experience-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 4rem;
      }

      .experience-year {
        width: 25%;
        color: rgba($white-variant1, 0.5);
        letter-spacing: 0.025em;
        font-size: 0.75rem;
        line-height: 1rem;
        margin-top: 2px;

        span {
          vertical-align: middle;
        }
        span.dash {
          width: 0.6rem;
          height: 1px;
          background-color: rgba($white-variant1, 0.5);
          display: inline-block;
          align-items: center;
          vertical-align: middle;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .experience-company {
        width: 75%;

        h3 {
          @include font-apercu-light;
          font-size: 16px;
          line-height: 1.375;
          margin-bottom: 1rem;
        }

        .visit {
          svg {
            width: 18px;
            padding-left: 3px;
            vertical-align: bottom;
          }
        }

        .experience-summary {
          font-size: 14px;
          color: rgba($white-variant1, 0.5);
          line-height: 1.5;
          margin-bottom: 1rem;
        }
      }

      .experience-techstack {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 1rem;

        .techstack-item {
          width: auto;
          margin-right: 1rem;
          font-size: 12px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: rgba($secondary, 0.4);
          color: $secondary;
          border-radius: 15px;
          margin-bottom: 0.8rem;
        }
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }

  .bold {
    @include font-apercu-medium;
    color: #f1f8cf;
  }
}

.get-in-touch {
  font-size: 1.5rem;
  color: $white;
  line-height: 1.5;

  .email-add {
    color: #f1f8cf;
    text-decoration: underline;
  }

  .social-profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;

    a {
      margin-right: 1rem;
      font-size: 2rem;
      margin-right: 1.5rem;
      color: #f1f8cf;
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.phFlag {
  display: inline-block;
  width: 50px;
  .st0 {
    fill: #fcd116;
  }
  .st1 {
    fill: none;
    stroke: #cccccc;
    stroke-width: 0.4799;
    stroke-miterlimit: 22.9256;
  }
  .st2 {
    fill: #ffffff;
  }
  .st3 {
    fill: #ce1126;
  }
  .st4 {
    fill: #0038a8;
  }
}
