@import "../_fonts.scss";
@import "../_colors.scss";
@import "../_media_query.scss";

.flexi-header {
  position: sticky;
  display: flex;
  flex-flow: column;
  justify-content: center;
  top: 0;
}

.header {
  @include font-apercu-light;
  h1 {
    font-size: 4.5rem;
    background: linear-gradient(to right, #ffec3f, #fff 35%, red);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
  }
  &-number-one {
    font-size: 1.5rem;
    color: $secondary;
  }
  &-title {
    font-size: 2.5rem;
    color: $white-variant1;
    margin-bottom: 0;
    &-one {
      @include font-apercu-bold;
      font-weight: 800;
      color: $white-variant2;
    }
    &-about {
      font-size: 26px;
      color: $white-variant1;
      margin-bottom: 2rem;
    }
    &-experience {
      font-size: 26px;
      color: $white-variant1;
      margin-bottom: 3rem;
    }
  }

  .side-nav {
    @include font-apercu-regular;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 50%;
    margin-top: 1rem;
    @include mobile-lg {
      margin-bottom: 1rem;
    }
    &.projects-nav {
      width: auto;
    }

    div {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      cursor: pointer;

      &:hover {
        span.line {
          width: 4rem;
          background-color: rgb(226 232 240);
        }
        span.text {
          color: rgb(226 232 240);
        }
      }
    }
    /** active section **/
    div.active > span.line {
      width: 4rem;
      height: 1px;
      background-color: rgb(226 232 240);
    }

    div.active > span.text {
      padding-left: 1rem;
      color: rgb(226 232 240);
    }
    /** inactive section **/
    div > span.line {
      width: 2rem;
      height: 1px;
      background-color: rgb(100 116 139);

      &.transition-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
      }
    }

    div > span.text {
      padding-left: 1rem;
      color: rgb(100 116 139);
      &:hover {
        color: $white-variant1;
      }
    }
  }
}

.greetings {
  font-size: 1.5rem;
  color: $secondary;
  margin-bottom: 0;
  margin-top: 5%;

  @include mobile-sm {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

.experience-container {
  display: flex;
  flex-flow: row wrap;
  padding: 100px;
  align-self: center;
  @include mobile-lg {
    padding: 0;
  }
}

.content {
  font-size: 1rem;
  color: $white-variant1;
  line-height: 1.5;
  margin-bottom: 6rem;

  .pangalan,
  .trabaho {
    @include font-apercu-bold;
    font-weight: 800;
    font-size: 66px;
    @include mobile-lg {
      font-size: clamp(30px, 8vw, 70px);
      line-height: 1.1;
    }
  }

  .pangalan {
    color: $white-variant2;
  }

  .trabaho {
    margin-top: -1rem;
    margin-bottom: 2rem;
    @include mobile-lg {
      margin-top: 0.5rem;
    }
  }

  .brief-background {
    font-size: 2rem;
    @include mobile-lg {
      font-size: 16px;
    }
  }

  @include mobile-lg {
    padding: 0px 25px;
  }

  &-experience {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include mobile-lg {
      display: block;
    }
    .experience-tab {
      &-side {
        @include font-apercu-light;
        color: $white-variant2;
        font-size: 14px;
        width: 25%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        height: 145px;

        /* width */
        &::-webkit-scrollbar {
          width: 12px;
          height: 8px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: rgba($white-variant2, 0.5);
          border-radius: 10px;
          padding-top: 5px;
        }

        @include mobile-lg {
          flex-flow: nowrap;
          justify-content: flex-start;
          // max-width: 700px;
          width: 350px;
          height: auto;
          padding-bottom: 5px;
          margin-bottom: 30px;
          overflow-x: auto;
        }
        &-item {
          padding: 1rem 1rem 1rem 1rem;
          border-left: 1px solid rgba($white-variant1, 0.5);
          border-width: 2px;
          @include mobile-lg {
            border-left: 0;
            border-bottom: 1px solid rgba($white-variant1, 0.5);
            min-width: 107px;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba($white-variant1, 0.5);
            transition: all 500ms;
          }
          &.active {
            border-left: 1px solid $secondary;
            border-width: 2px;
            @include mobile-lg {
              border-left: 0;
              border-bottom: 1px solid rgba($white-variant1, 1);
              border-width: 2px;
            }
          }
        }
      }
      &-content {
        width: 75%;
        @include mobile-lg {
          width: 90%;
        }
      }
    }
    #experience {
      .experience-item {
        display: none;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 4rem;
        transition: all 500ms;
        &.active {
          display: flex;
          transition: all 500ms;
          animation: fadeIn 1s;
        }
        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      .experience-year {
        @include font-apercu-medium;
        width: 25%;
        color: rgba($white-variant1, 0.5);
        letter-spacing: 0.025em;
        font-size: 0.75rem;
        line-height: 1rem;
        margin-top: 2px;
        margin-bottom: 1rem;

        @include mobile-lg {
          width: 100%;
        }

        span {
          vertical-align: middle;
        }
        span.dash {
          width: 0.6rem;
          height: 1px;
          background-color: rgba($white-variant1, 0.5);
          display: inline-block;
          align-items: center;
          vertical-align: middle;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .experience-company {
        width: 75%;

        @include mobile-lg {
          width: 100%;
        }

        h3 {
          @include font-apercu-light;
          color: $white-variant2;
          font-size: 16px;
          line-height: 1.375;
          padding-top: 0.75rem;
        }

        .visit {
          svg {
            width: 18px;
            padding-left: 3px;
            vertical-align: bottom;
          }
        }

        .experience-summary {
          @include font-apercu-light;
          font-size: 14px;
          color: rgba($white-variant1, 0.5);
          line-height: 1.5;
          margin-bottom: 1rem;

          ul {
            list-style-type: none;
            li {
              line-height: 1.5;
              margin-bottom: 1rem;
              position: relative;
              padding-left: 30px;
              margin-bottom: 10px;
              &::before {
                content: "▹";
                position: absolute;
                left: 0px;
                color: $secondary;
              }
            }
          }
        }
      }

      .experience-techstack {
        @include font-apercu-light;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 1rem;

        .techstack-item {
          width: auto;
          margin-right: 1rem;
          font-size: 12px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: rgba($secondary, 0.4);
          color: $secondary;
          border-radius: 15px;
          margin-bottom: 0.8rem;
        }
      }
    }
  }

  &-page {
    @include font-apercu-light;
    font-size: 1rem;
    color: $white-variant1;

    .about-techstack {
      ul {
        list-style-type: none;
        li {
          line-height: 1.5;
          margin-bottom: 1rem;
          position: relative;
          padding-left: 30px;
          margin-bottom: 10px;
          &::before {
            content: "▹";
            position: absolute;
            left: 0px;
            color: $secondary;
          }
        }
      }
    }

    &.project-page {
      max-height: 70vh;
      height: 70vh;
      overflow: auto;
      padding-right: 15px;

      @include mobile-lg {
        display: block;
        padding-right: 15px;
      }

      /* width */
      &::-webkit-scrollbar {
        width: 12px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba($white-variant1, 0.5);
        border-radius: 10px;
      }

      // &::-webkit-scrollbar {
      //   display: none;
      // }
    }

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    #other-projects {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding-left: 5%;
      @include mobile-lg {
        padding-left: 0;
      }

      .other-projects {
        &-container {
          margin-bottom: 3rem;
        }
        &-header,
        &-description {
          width: 100%;
          ul {
            list-style-type: none;
          }
        }
        &-header {
          @include font-apercu-medium;
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }
        &-description {
          @include font-apercu-light;
          font-size: 0.9rem;
          margin-bottom: 1rem;
          line-height: 1.5;
        }

        &-stack {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          .other-projects-item {
            width: auto;
            font-size: 0.75rem;
            margin-right: 15px;
            border: 1px solid rgba($secondary, 0.4);
            color: rgba($secondary, 0.4);
            padding: 3px 10px 3px 10px;
            border-radius: 5px;
            line-height: 1.6;
            @include mobile-lg {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    #featured-projects {
      @include mobile-lg {
        padding-top: 1rem;
      }
      .featured-projects {
        &-container {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          margin-bottom: 5rem;
          margin-left: 5%;
          padding: 1rem;
          @include mobile-lg {
            margin-left: 0;
            padding: 0;
          }
          &:hover {
            background-color: rgba($white-variant3, 0.1);
            border-radius: 5px;
            border: 1px solid rgba($white-variant3, 0.1);
          }
        }
        &-image {
          width: 50%;
          @include mobile-lg {
            margin-top: 1rem;
            width: 100%;
          }
          img {
            width: 100% !important;
            height: auto !important;
          }
        }
        &-description {
          width: 50%;
          padding-left: 5%;
          @include mobile-lg {
            margin-top: 1rem;
            width: 100%;
            padding-left: 0;
          }
          .title {
            @include font-apercu-medium;
            font-size: 20px;
            margin-bottom: 3rem;
          }
          p {
            font-size: 0.85rem;
            line-height: 1.3;
            margin-top: 2rem;
          }
        }
        &-stack {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          .other-projects-item {
            width: auto;
            font-size: 0.75rem;
            margin-right: 7px;
            margin-bottom: 5px;
            border: 1px solid rgba($secondary, 0.4);
            color: rgba($secondary, 0.4);
            padding: 3px 10px 3px 10px;
            border-radius: 5px;
            line-height: 1.6;
          }
        }
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }

  .bold {
    @include font-apercu-medium;
    color: #f1f8cf;
  }
}

.get-in-touch {
  font-size: 1.5rem;
  color: $white-variant1;
  line-height: 1.5;

  @include mobile-lg {
    display: none;
  }

  .email-add {
    color: #f1f8cf;
    text-decoration: underline;
  }

  .social-profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;

    a {
      margin-right: 1rem;
      font-size: 2rem;
      margin-right: 1.5rem;
      color: #f1f8cf;
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.phFlag {
  display: inline-block;
  width: 50px;
  .st0 {
    fill: #fcd116;
  }
  .st1 {
    fill: none;
    stroke: #cccccc;
    stroke-width: 0.4799;
    stroke-miterlimit: 22.9256;
  }
  .st2 {
    fill: #ffffff;
  }
  .st3 {
    fill: #ce1126;
  }
  .st4 {
    fill: #0038a8;
  }
}

.ianimage-container {
  position: relative;
  text-align: center;
  max-width: 500px;
  padding-left: 3rem;
  @include mobile-lg {
    max-width: 300px;
    padding-left: 0;
  }
  .ianimage-outer-wrapper {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: $secondary;
    &::after {
      border: 2px solid $secondary;
      top: 14px;
      left: 14px;
      z-index: -1;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &::before {
      top: 0px;
      left: 0px;
      background-color: $primary;
      mix-blend-mode: screen;
    }
    .ianimage-inner-wrapper {
      position: relative;
      border-radius: 4px;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      max-width: 100%;
      text-align: center;
      img {
        display: block;
        position: static;
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0;
        max-width: none;
        padding: 0;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .ianimage-outer-wrapper {
      &::after {
        top: 20px;
        left: 20px;
      }
    }
    .ianimage-inner-wrapper {
      mix-blend-mode: normal;
      filter: none;
    }
  }

  img {
    width: 75%;
    height: auto;
  }
}
